build
x64 
/sections/.DS_Store
/hws/.DS_Store
/.DS_Store
/hws/hw2_opengl_bootcamp/Makefile
/hws/hw2_opengl_bootcamp/hw2
/Makefile
/bin
/hws/hw2_opengl_bootcamp/main.o
/hws/hw2_opengl_bootcamp/hw2.synctex.gz
/hws/hw2_opengl_bootcamp/CMakeCache.txt
/hws/hw2_opengl_bootcamp/hw2.out
/hws/hw2_opengl_bootcamp/hw2.aux
/hws/hw2_opengl_bootcamp/hw2.log
/lib/libCS148.a
/lib/libglew.a
/lib/libglfw3.a
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/hws/hw2_opengl_bootcamp/CMakeFiles
/hws/hw2_opengl_bootcamp/cmake_install.cmake
/lib/libhw2.a
/lib
